<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>Welcome! Advertiser <%= @adagency.name %></h1>
    <p>This is test email</p>
    <p><%= @adagency.description %></p>
    <p>To visit the website, just follow this link: <%= link_to 'my site',@url,:class=>'btn btn-danger' %>.</p>
    <p>Thank you very much.</p>
  </body>
</html>
